@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, Title {
  font-family: var(--font-space-grotesk), sans-serif;
}

body, p, span, div, a, button, li {
  font-family: var(--font-manrope), sans-serif;
}

:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --primary: #2563eb;
}

html.dark {
  --background-dark: #1a202c;
  --foreground-dark: #ffffff;
  --primary: #3b82f6;
}


